root = true
[*.cs]
csharp_new_line_before_open_brace = none:namespace, type, method, accessor, anonymous_method, lambda_expression, control, anonymous_type, object_initializer, array_initializer, indexer_initializer, local_function
indent_style = space
indent_size = 2